# Node / React
frontend/node_modules/
frontend/.cache/
frontend/build/

# Java / Maven
backend/backend/target/
backend/backend/.mvn/wrapper/maven-wrapper.jar

# Logs
**/*.log

# IDE
.vscode/
.idea/
*.iml

# Env files
**/.env
**/.env.*
